<!-- Start Pages Heading -->
<section id="heading">
    <div class="bg heading-contacts"></div>
</section>

<!-- Start Page Title -->
<section id="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="the-title text-center">
                    <h1>Where we are</h1>
                    <strong class="subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Page Content -->
<section id="content" class="content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="photo">
                    <img src="http://placehold.it/1000x700" alt="...">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="scroll-block contact-us">
                    <h6>Contact Us!</h6>
                    <p>+32 123 4567890 - mail@yourdomain.com</p>
                    <p>Sed do <strong>eiusmod tempor incididunt ut labore</strong> et dolore magna aliqua</p>
                    <form id="cform" class="input-group">
                        <input type="text" class="form-control half" placeholder="NAME"/>
                        <input type="text" class="form-control half rx" placeholder="E-MAIL"/>
                        <textarea class="form-control form-message" placeholder="MESSAGE"></textarea>
                        <button type="submit" class="btn rounded">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Google Maps -->
<section id="g-map">
    <div class="map" data-gray="true">
        <div class="marker" data-lat="37.78171" data-lng="-122.41907" data-icon="images/map-marker.png">
            ... marker content ...
        </div>
    </div>
</section>