<!-- Start Menu -->
<section id="food-menu" class="content-area bg-home-food-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Discover our menu</h2>
                    <div class="clear">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="366.6px" height="48.7px" viewBox="0 0 366.6 48.7" enable-background="new 0 0 366.6 48.7" xml:space="preserve">
							<defs>
							</defs>
								<g><g><g><g>
									<path d="M361.5,47.9c-46.7-4.5-93.5-7.4-139.9-10.2c-62.9-6.5-132.8-8-202.5-3c-8.2,0.2-15.9,1.4-17,2.7													c-1.3,1.2,4.4,2.1,12.5,1.8c9.1,0.1,18.3,0.2,27.6,0.1c4.7-0.1,9.4,0,14.1,0c4.7,0,9.5,0,14.3-0.1c4.8-0.1,9.6-0.1,14.5-0.2													c2.4-0.1,4.9-0.1,7.3-0.2c2.4,0,4.9-0.1,7.3-0.1c9.8-0.1,19.7-0.4,29.6-0.8c4.8-0.2,9.4,0,14.6,0.1c4.8,0,9.1-0.2,13.5-0.1													c8.8,0.2,17.4,0.3,26,0.4c8.6,0.2,17.1,0.5,25.5,0.7c4.2,0.1,8.5,0.2,12.7,0.3c2.1,0.1,4.2,0.1,6.4,0.2c2.1,0.1,4.2,0.2,6.4,0.3
													c8.5,0.4,17.1,0.8,25.7,1.3c4.3,0.2,8.5,0.5,12.8,0.7c4.2,0.3,8.5,0.6,12.7,0.9c8.4,0.6,16.8,1.1,25.1,1.7
													c8.3,0.5,16.6,1.3,24.9,2c8.3,0.7,16.6,1.5,24.9,2.3c1.6,0.2,2.9,0.1,3.3-0.1C364,48.3,363,48,361.5,47.9z"/>
								</g></g></g></g>
							</svg>
                    </div>
                    <strong class="subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="the-menu-custom-nav text-center">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#starters" class="rounded btn" aria-controls="starters" role="tab" data-toggle="tab">Starters</a>
                        </li>
                        <li role="presentation">
                            <a href="#pasta" class="rounded btn" aria-controls="pasta" role="tab" data-toggle="tab">Pasta</a>
                        </li>
                        <li role="presentation">
                            <a href="#pizza" class="rounded btn" aria-controls="pizza" role="tab" data-toggle="tab">Pizza</a>
                        </li>
                        <li role="presentation">
                            <a href="#dessert" class="rounded btn" aria-controls="dessert" role="tab" data-toggle="tab">Dessert</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">

                <!-- Tab Content -->
                <div class="tab-content">

                    <!-- A tab Panel Starters -->
                    <div class="the-menu tab-pane active" role="tabpanel" id="starters">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Starters<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="pasta">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Pasta<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pizza -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="pizza">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Pizza<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="dessert">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Desserts<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="pizza">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Desserts<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="dessert">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Desserts<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="images/icons/s1.jpg" alt=""> Starter dish name <strong>&euro; 25</strong></li>
                                    <li><img src="images/icons/s2.jpg" alt=""> A second dish <strong>&euro; 13</strong></li>
                                    <li><img src="images/icons/s3.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s4.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s5.jpg" alt=""> The third dish of the menu <strong>&euro; 7</strong></li>
                                    <li><img src="images/icons/s10.jpg" alt=""> Another dish name <strong>&euro; 9,90</strong></li>
                                    <li><img src="images/icons/s11.jpg" alt=""> Start with a dish <strong>&euro; 11,50</strong></li>
                                    <li><img src="images/icons/s1.jpg" alt=""> Last dish on this amazing menu <strong>&euro; 27</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hr class="custom-clear">
