<!-- StartMain View -->
<section id="main-view">
    <div class="bg home-page-main-image">
        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
    </div>


    <!-- icon scroll -->
</section>

<!-- Start Intro -->
<section id="intro" class="content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="block-text text-center">
                    <h2>Discover</h2>
                    <strong class="subtitle">Art of food</strong>
                    <div class="clear">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="366.6px" height="48.7px" viewBox="0 0 366.6 48.7" enable-background="new 0 0 366.6 48.7" xml:space="preserve">
							<defs>
							</defs>
								<g><g><g><g>
									<path d="M361.5,47.9c-46.7-4.5-93.5-7.4-139.9-10.2c-62.9-6.5-132.8-8-202.5-3c-8.2,0.2-15.9,1.4-17,2.7													c-1.3,1.2,4.4,2.1,12.5,1.8c9.1,0.1,18.3,0.2,27.6,0.1c4.7-0.1,9.4,0,14.1,0c4.7,0,9.5,0,14.3-0.1c4.8-0.1,9.6-0.1,14.5-0.2													c2.4-0.1,4.9-0.1,7.3-0.2c2.4,0,4.9-0.1,7.3-0.1c9.8-0.1,19.7-0.4,29.6-0.8c4.8-0.2,9.4,0,14.6,0.1c4.8,0,9.1-0.2,13.5-0.1													c8.8,0.2,17.4,0.3,26,0.4c8.6,0.2,17.1,0.5,25.5,0.7c4.2,0.1,8.5,0.2,12.7,0.3c2.1,0.1,4.2,0.1,6.4,0.2c2.1,0.1,4.2,0.2,6.4,0.3
													c8.5,0.4,17.1,0.8,25.7,1.3c4.3,0.2,8.5,0.5,12.8,0.7c4.2,0.3,8.5,0.6,12.7,0.9c8.4,0.6,16.8,1.1,25.1,1.7
													c8.3,0.5,16.6,1.3,24.9,2c8.3,0.7,16.6,1.5,24.9,2.3c1.6,0.2,2.9,0.1,3.3-0.1C364,48.3,363,48,361.5,47.9z"/>
								</g></g></g></g>
							</svg>
                    </div>
                    <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <strong>ullamco laboris</strong> nisi ut aliquip ex ea commodo.</p>
                    <a class="btn rounded" href="page-about.html">READ MORE</a>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-6">
                <div class="photo">
                    <img src="./../../assets/images/icons/kabobs/siciliankabob.jpg.jpg">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="photo">
                    <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Specialities -->
<section id="specialities-title" class="title-area bg-specialities-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>The specialites</h2>
                    <div class="clear">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="366.6px" height="48.7px" viewBox="0 0 366.6 48.7" enable-background="new 0 0 366.6 48.7" xml:space="preserve">
							<defs>
							</defs>
								<g><g><g><g>
									<path d="M361.5,47.9c-46.7-4.5-93.5-7.4-139.9-10.2c-62.9-6.5-132.8-8-202.5-3c-8.2,0.2-15.9,1.4-17,2.7													c-1.3,1.2,4.4,2.1,12.5,1.8c9.1,0.1,18.3,0.2,27.6,0.1c4.7-0.1,9.4,0,14.1,0c4.7,0,9.5,0,14.3-0.1c4.8-0.1,9.6-0.1,14.5-0.2													c2.4-0.1,4.9-0.1,7.3-0.2c2.4,0,4.9-0.1,7.3-0.1c9.8-0.1,19.7-0.4,29.6-0.8c4.8-0.2,9.4,0,14.6,0.1c4.8,0,9.1-0.2,13.5-0.1													c8.8,0.2,17.4,0.3,26,0.4c8.6,0.2,17.1,0.5,25.5,0.7c4.2,0.1,8.5,0.2,12.7,0.3c2.1,0.1,4.2,0.1,6.4,0.2c2.1,0.1,4.2,0.2,6.4,0.3
													c8.5,0.4,17.1,0.8,25.7,1.3c4.3,0.2,8.5,0.5,12.8,0.7c4.2,0.3,8.5,0.6,12.7,0.9c8.4,0.6,16.8,1.1,25.1,1.7
													c8.3,0.5,16.6,1.3,24.9,2c8.3,0.7,16.6,1.5,24.9,2.3c1.6,0.2,2.9,0.1,3.3-0.1C364,48.3,363,48,361.5,47.9z"/>
								</g></g></g></g>
							</svg>
                    </div>
                    <strong class="subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Specialities content -->
<section id="specialities-content" class="content-area">
    <div class="container-fluid">
        <div class="gal-grid">

            <ul>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>
                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>
                <!-- a gallery item -->
                <li class="gal-item">
                    <a href="http://placehold.it/600x760" class="fancybox" title="An amazing dish">
                        <img src="./../../assets/images/icons/kabobs/chickenkabob.jpg">
                        <span class="photo-title text-center">An amazing dish title<small>lorem ipsum sit</small></span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</section><br><br>


