<!-- Start Newsletter -->
<section id="newsletter" class="content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="section-text">
                    <h2>Buzzzzz....</h2>
                    <p>Get Alerts on your Order </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <form class="form-newsletter">
                    <input type="text" class="form-control" placeholder="YOUR E-MAIL ADDRESS">
                    <button type="submit" class="btn rounded">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Start Book-a-Table -->
<section id="table-booking" class="content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="the-title text-center">
                    <h1>Book one table!</h1>
                    <strong class="subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form id="bform" class="input-group text-center">
                    <div class="table_field">
                        <label class="the-label">
                            <i class="fa fa-calendar"></i>
                        </label>
                        <input type="text" class="form-control datepicker" id="the-date" placeholder="Select a date">
                    </div>
                    <div class="table_field">
                        <label class="the-label">
                            <i class="fa fa-clock-o"></i>
                        </label>
                        <input type="text" class="form-control datepicker" id="the-time" placeholder="Set the time">
                    </div>
                    <div class="table_field">
                        <label class="the-label">
                            <i class="fa fa-user"></i>
                        </label>
                        <input type="text" class="form-control datepicker" id="the-people" placeholder="How many people?">
                    </div>
                    <div class="clear"></div>
                    <button type="submit" class="btn rounded">Request Availbaility</button>
                </form>
            </div>
        </div>
    </div>
</section>